<h2 class="text-center">Top Heroes</h2>
<!-- 4 top hrdinove -->
<div class="text-center">
    <ng-container *ngFor="let hero of heroes">
        <a [routerLink]="['/detail', hero.id]" class="text-dark link">
            <mat-card class="card text-start">
                <mat-card-title-group>
                    <mat-card-title>{{ hero.name }}
                    </mat-card-title>
                    <mat-card-subtitle>ID: {{ hero.id }}</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    Strength: {{ hero.strength }}
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
</div>
