.list {
    .heroes {
        max-height: 70vh;
        // overflow-x: hidden;
        overflow: auto;
    }
}

.toggle {

    .id,
    .name,
    .strength {
        padding: 3px 12px;
    }

    .id {
        background: rgba(black, .2);
    }

    .name {
        text-align: left;
    }
}

.my-hero {
    border-radius: 4px;
    cursor: pointer;
}
